<nav class="navbar" [class.scrolled]="isScrolled || ! isHome">
  <div class="nav-container">
    <a  (click)="goToHome()" routerLinkActive="active" class="nav-logo" [class.scrolled]="isScrolled || ! isHome">JV</a>
    <ul class="nav-menu" [class.scrolled]="isScrolled || ! isHome">
      <li><a  (click)="goToHome()" [class.active]="activeSection === 'home'" >Home</a></li>
      <li><a  (click)="goToProjects()" [class.active]="activeSection === 'projects'"  >Projects</a>
      <li><a  (click)="goToJourney()" [class.active]="activeSection === 'journey'" >Journey</a>
      <li><a  (click)="goToAbout()" [class.active]="activeSection === 'about'"  >About</a>
    </ul>
  </div>
</nav>
