<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portfólio - Jorge Vieira</title>
<link rel="stylesheet" href="app.component.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <nav class="navbar w3-teal">
  <div class="navbar-container w3-teal">
    <a href="#container-principal" class="nav-logo">Jorge Vieira</a>
    <ul class="nav-links">
      <li><a href="#education">Education</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  </nav>

<div id="container-principal">

  <!-- Grid Principal -->
  <div class="row-flex">

    <!-- Left Column -->
    <div class="left-card">
      <div class="blob delay1"></div>
      <div class="blob delay2"></div>
      <div class="card-left">
        <div class="profile-card">
          <!-- Foto de fundo -->
          <img src="/src/assets/profpic2.png" style="width:100%; height:auto;" alt="Jorge Vieira" class="profile-pic">

          <!-- Nome sobre a imagem -->
          <div class="profile-name">
            <h2>Jorge Vieira</h2>
          </div>
        </div>
        <p>Graduate in Telecommunications and Computer Engineering</p>

        <div class="social-icons">
          <p><a href="https://www.linkedin.com/in/jorge-vieira-2a6b48380" target="_blank">
            <i class="fa fa-linkedin w3-text-teal fa-fw w3-margin-right"></i>Linkedin
          </a></p>

          <p><a href="https://github.com/1200908" target="_blank" > 
            <i class="fa fa-github w3-text-teal fa-fw w3-margin-right"></i>Github
          </a>  </p>

          <p><a href="mailto:1200908@isep.ipp.pt">
            <i class="fa fa-envelope w3-text-teal fa-fw w3-margin-right"></i>Email
          </a></p>
      </div>

        <h3>Technical Skills</h3>
        <span class="skills-badge">Python</span>
        <span class="skills-badge">Java</span>
        <span class="skills-badge">JavaScript</span>
        <span class="skills-badge">React</span>
        <span class="skills-badge">HTML/CSS</span>
        
        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Portuguese</p>
          <div class="w3-light-grey w3-round-xlarge" style="border: 2px solid rgb(47, 65, 49);">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge" style="border: 2px solid rgb(47, 65, 49);">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
          <br>
      </div>
    </div>

    <!-- Right Column -->
    <div class="right-card">
      <div class="card-right">
        <section id="education">
          <h2>Formação Acadêmica</h2>
          <div class="divider"></div>
          <div class="card">
            <h3>Tecnologia e Informática</h3>
            <p>Escola X - 2023</p>
          </div>
          <div class="card">
            <h3>Programação Web</h3>
            <p>Instituto Y - 2022</p>
          </div>
        </section>

        <section id="experience">
          <h2>Experiência & Projetos</h2>
          <div class="divider"></div>
          <div class="card">
            <h3>Estágio em Desenvolvimento Web</h3>
            <p>Empresa Z - Jan 2023 a Dez 2023</p>
          </div>
          <div class="card">
            <h3>Projeto de Scraping com Python</h3>
            <p>Pessoal - 2022</p>
          </div>
        </section>
      </div>
    </div>

  </div> <!-- Fim Row -->

</div> <!-- Fim container -->

<footer class="w3-container w3-teal w3-center w3-margin-top" marginbottom= 5 px>
  <p>Find me on social media.</p>
  <a href="https://www.linkedin.com/in/jorge-vieira-2a6b48380"> <i class="fa fa-linkedin w3-hover-opacity"> </i></a>
  <p></p>
  <br>
 </footer>

</body>